// Site Fonts

$mainHeadingFontFamily: "Cabin Sketch", cursive;
$subHeadingsFontFamily: "Tillana", cursive;
$buttonTextFontFamily: "Work Sans", sans-serif;
$bodyTextFontFamily: "Work Sans", sans-serif;

$mainHeadingFontSize: 4rem;
$subHeadingsFontSize: 2.5rem;
$navFontSize: 1.5rem;
// $: 1.5rem;
$buttonFontSize: 1rem;
$bodyFontSize: 1rem;

$fontPrimaryColor: #000000;
$fontSecondaryColor: #ffffff;


// Site Colors

$primary: #660000;
$secondary: #006600;
$tertiary: #470000;
$quaternary: #003A66;
$quinary: #002947;