@use "./variables" as *;

header {
    background-color: $primary;
    color: $fontPrimaryColor;
    padding: 2.5rem 0;

    .headerContent {
        display: flex;
        flex-direction: row;

        .headerHeading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            h1 {
                margin: 0 auto;
            }

            p {
                margin: 0 auto;
            }
        }

        .headerImage {
            width: 15rem;

            img {
                max-width: 15rem;
                border-radius: 2.5%;
            }
        }
    }
}