@use "./variables" as *;

.backgroundImage {
    background-image: url(../../../assets/IMG-6784.jpg);
    height: 50vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 40%;
    z-index: -1;
}

header {
    background-color: $primary ;
    color: $fontPrimaryColor;
    padding: 0;
    height: 50vh;
    display: flex;
    align-items: center;

    .headerContent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .headerHeading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            h1 {
                margin: 0 auto;
                color: $fontPrimaryColor;
                opacity: 100%;
            }

            p {
                margin: 0 auto;
            }
        }

        .headerImage {
            width: 15rem;

            img {
                width: 100%;
                border-radius: 2.5%;
            }
        }
    }
}