@use "./variables" as *;

.projects {
    color: $fontPrimaryColor;
    background-color: $primary;
    padding: 2.5rem 0;
}

.projectGallery {
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .projectImageContainer {
            width: 35%;
            padding: 1rem;

            img {
                max-height: 15rem;
                max-width: 15rem;
            }
        }

        .projectContentContainer {
            width: 65%;
            padding: 1rem;
            text-transform: none;

            h3 {
                margin: 0 auto;
            }

            h4 {
                color: $quaternary;
                margin: 0 auto;
            }

            button {
                background-color: $quaternary;
                color: $fontSecondaryColor;
                padding: .5rem 1rem;
                border: none;
                transition: 0.5s;

                &:hover,
                &:focus {
                    color: $fontPrimaryColor;
                    background-color: $secondary;

                    a {
                        color: $fontPrimaryColor;
                    }
                }

                a {
                    color: $fontSecondaryColor;
                    text-decoration: none;
                    text-transform: lowercase;
                    transition: 0.5s;

                    &:hover,
                    &:focus {
                        color: $fontPrimaryColor;
                    }
                }
            }
        }
    }
}