@use "./variables" as *;

.skills {
    background-color: $tertiary;
    color: $fontSecondaryColor;
    padding: 2.5rem 0;

    .skillsContainer {
        display: flex;

        svg {
            height: 60px;
            width: 60px;
            transition: .3s;
            
            &:hover, 
            &:focus {
                scale: 1.25;
            }
        }
        
        .skillsHeadingContainer {
            width: 35%;
            
            p {
                text-transform: none;
            }
        }
        
        .skillsListContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            text-transform: none;
            
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: center;
                flex-direction: row;
                padding: 0;
                
                li {
                    display: flex;
                    width: 25%;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem 1rem;
                    
                    p {
                        text-align: left;
                        margin: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}