// Site Fonts

$mainHeadingFontFamily: "Cabin Sketch", cursive;
$subHeadingsFontFamily: "Tillana", cursive;
$buttonTextFontFamily: "Work Sans", sans-serif;
$bodyTextFontFamily: "Work Sans", sans-serif;

$mainHeadingFontSize: 4rem;
$subHeadingsFontSize: 2.5rem;
$navFontSize: 1.5rem;
// $: 1.5rem;
$buttonFontSize: 1rem;
$bodyFontSize: 1rem;

$fontPrimaryColor: #ffffff;
$fontSecondaryColor: #000000;


// Site Colors

$primary: rgba(30, 30, 44, .9);
$secondary: rgba(45, 45, 68, .9);
$tertiary: rgba(96, 198, 137, .9);
$quaternary: rgba(51, 225, 237, .9);